aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
apache-airflow==2.10.4
apturl==0.5.2
asn1crypto==0.24.0
async-timeout==5.0.1
attrs==24.2.0
backports.zoneinfo==0.2.1
binance-futures-connector==4.1.0
blinker==1.8.2
boto3==1.35.57
botocore==1.35.57
bottle==0.13.2
Brlapi==0.7.0
cachetools==5.5.0
certifi==2018.1.18
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.8
colorama==0.3.7
command-not-found==0.3
common==0.1.2
contourpy==1.1.1
cryptography==42.0.8
cupshelpers==1.0
cycler==0.12.1
data==0.4
dateparser==1.2.0
dbus-python==1.2.16
decorator==5.1.1
defer==1.0.6
DingtalkChatbot==1.5.7
distlib==0.3.9
distro==1.4.0
distro-info===0.18ubuntu0.18.04.1
docker==7.1.0
dual==0.0.10
dynamo3==0.4.10
evdev==1.7.1
filelock==3.16.1
flywheel==0.5.4
fonttools==4.55.0
frozenlist==1.5.0
funcsigs==1.0.2
gitdb==4.0.12
GitPython==3.1.44
google-re2==1.1.20240702
httplib2==0.9.2
idna==2.6
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy_loader==0.4
lean==1.0.211
lightgbm==4.5.0
llvmlite==0.41.1
louis==3.5.0
lxml==5.3.0
macaroonbakery==1.1.3
Mako==1.0.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
maskpass==0.3.7
matplotlib==3.7.5
mdurl==0.1.2
methodtools==0.4.7
multidict==6.1.0
mysql-connector-python==9.0.0
narwhals==1.21.1
netifaces==0.10.4
networkx==3.1
numba==0.58.1
numpy==1.24.4
oauth==1.0.1
olefile==0.45.1
packaging==24.2
paddl==0.3.0
paddle==1.0.2
pandas==2.0.3
peewee==3.17.7
pexpect==4.2.1
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
propcache==0.2.0
protobuf==5.29.3
prox==0.0.17
pyarrow==17.0.0
pycairo==1.16.2
pycparser==2.22
pycrypto==2.6.1
pycryptodome==3.21.0
pycups==1.9.73
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
PyGObject==3.36.0
pymacaroons==0.13.0
PyMySQL==1.1.1
PyNaCl==1.3.0
pynput==1.7.7
pyparsing==3.1.4
pyRFC3339==1.0
PySocks==1.7.1
python-apt==2.0.1+ubuntu0.20.4.1
python-binance==1.0.24
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-debian==0.1.32
python-geoip-python3==1.3
python-xlib==0.33
pytz==2024.2
PyWavelets==1.4.1
pyxdg==0.25
PyYAML==5.3.1
quantconnect-stubs==16823
referencing==0.35.1
regex==2024.11.6
reportlab==3.4.0
requests==2.32.3
requests-unixsocket==0.1.5
rich==13.9.4
rpds-py==0.20.1
s3transfer==0.10.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
SecretStorage==2.3.1
simplejson==3.16.0
six==1.11.0
smmap==5.0.2
ssh-import-id==5.7
streamlit==1.40.1
streamlit-autorefresh==1.0.1
system-service==0.3
systemd-python==234
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tight==0.1.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.20
usb-creator==0.3.3
virtualenv==20.27.1
wadllib==1.3.2
watchdog==4.0.2
websocket-client==1.8.0
websockets==13.1
wirerope==0.4.8
xkit==0.0.0
yarl==1.15.2
zipp==3.20.2
zope.interface==4.7.1
